@media screen and (max-width:1000px){
      
      header{
            height: 122px;
      }
      nav{
        flex-direction: column;
      }
      .slider{
            height: 62vh;
      }
      .logo{
        justify-content: center;
        margin: 12px 0;
      }
      nav ul{
            
            justify-content: center;
      }
       .search{
            display: flex;
            justify-content: center;
      }
      .search input{
            margin: 12px 25px;
      }
      .btn{
            margin:0 22px;
      }
      nav ul{
            height: 34px;

      }
      .card-item img{
            width: 140px;
      }
      
}